server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: sentiment-app
  endpoint:
    prometheus:
      enabled: true
